%h3 Editing Article

= bootstrap_form_for @article, :html => { :multipart => true } do |f|
  = f.text_field :title
  = f.text_area :text
  = f.submit "Save Article", class: 'btn btn-success'
  = link_to 'Back', root_path, class: 'btn btn-default'
