.col-sm-4
.col-sm-4
  .user_info
    = gravatar_for @user
    %h2 Welcome #{@user.name},
    %h4 Your email Id is: #{@user.email}
    %table.table.table-bordered.table-striped
      %colgroup
        %col.col-sm-6
        %col.col-sm-6
      %tr
        %th{style: "text-align: center"} Title
        %th{style: "text-align: center"} Article Text
      - @user.articles.each do |article|
        %tr
          %td{style: "text-align: center"}= article.title
          %td{style: "text-align: center"}= article.text
      - if @user.articles.size == 0
        %tr
          %td.center{colspan: "2"} Sorry: There are currently no articles to display.
